@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --font-main: 'Rubik';
    --font-weight-regular: 400;
    --font-weight-medium: 500;

    --color-black: #000;
    --color-accent: #7174CD;
    --color-gray: #999999;

    --color-text: var(--color-black);
    --color-text-muted: var(--color-gray);
    --color-logo: var(--color-accent);
    --color-link: var(--color-accent);

    --text-base-size: 14px;
    --text-base-weight: var(--font-weight-regular);
    --text-base-lineheight: 16px;

    --heading-xl-size: 20px;
    --heading-xl-weight: var(--font-weight-regular);
    --heading-xl-lineheight: 24px;

    --heading-md-weight: var(--font-weight-medium);
    --heading-md-lineheight: 16px;
    --heading-md-letter-spacing: .15px;

}

body {
    font-family: var(--font-main), sans-serif;
}

.container {
    padding: 10px 72px 42px;
    max-width: 100%;
    margin: 0 auto;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

